[Unit]
Description=graceful-example
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/graceful-example.pid
ExecStart=/usr/local/bin/graceful-example --pid-file=/var/run/graceful-example.pid --listen=:8080
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target